@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


*{
  padding: 0;
  margin: 0;
}
#root {
  max-width: 1280px;
  text-align: center;
  font-family: "Roboto", serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto
}


.ReactModal__Overlay {
  z-index: 1000 !important;
}

.ReactModal__Content {
  z-index: 1001 !important;
}